* {
    margin: 0;
    padding: 0;
}

/* div {
    background-color: #008000;
    height: 50px;
    margin-top: 1px;
} */

/* section {
    display: grid;
    grid-gap: 1px;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
} */

div {
    background-color: #ca44ff;
    width: 100px;
    height: 100px;
    /* justify-self: center;
    align-self: center;
    place-self: flex-end center; */
}

section {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}